<html>
<head>
<title>Bridging Coursework Blog</title>
</head>
<body>
<div>
<h1><a href="/">Bridging Coursework Blog</a></h1>
</div>
<div>
<p>published: 14.06.2014, 12:14</p>
<h2><a href="">Favourite Topic's from Year 1</a></h2>
<p>I enjoyed all of the material covered in year one, but I found a few 
select topics particularly interesting. 'Mathematical Foundations of Computer Science' was my favourite module as I find Maths engaging and enjoyed seeing its practical applications. This module was especially relevant to me as in the future I would like to pursue a career in a topic which heavily utilises Maths such as Data Science. I found the Vectors & Matrices topic fascinating as it gave me an insight into some of the techniques used in the development of 3D video games (e.g. raytracing used for accurate lighting).
Another module that I found interesting was 'AI'. We learnt basic elements of logistic regression (technique used for classification)- hypothesis function, cost function, etc... I especially enjoyed the second assignment in this module, in which we coded our own implementation of the regression algorithms taught in the lectures, displaying them graphically..</p>
</div>
<div>
<p>published: 14.06.2014, 12:14</p>
<h2><a href="">Future Modules that I Look Forward To</a></h2>
<p>In the future I look forward to studying the 'Functional Programming' module as it should be interesting to program in a completely new paradigm. I am also looking forward to building on my knowledge of machine learning in the second AI module.</p>
</div>
<div>
<p>published: 14.06.2014, 12:14</p>
<h2><a href="">Site Structure & Django Overview</a></h2>
<p>Django is an open source web application framework written in Python. A framework is a collection of modules which aid in development. This can save lots of time for web developers as many common functions don't need to be re-written. Django is targeted at front-end developers who are more comfortable with languages such as HTML (it is relatively easy to learn).</p>
</div>
</body>
</html>
